<div class="grid gap-4">
  @for (item of cardsrc(); track $index) {
  @if ($index % 4 == 0) {
  <trending-card [srcImg]="item.url" [wImg]="item.width" [hImg]="item.height"></trending-card>
  }
  }
</div>

<div class="grid gap-4">
  @for (item of cardsrc(); track $index) {
  @if ($index % 4 == 1) {
  <trending-card [srcImg]="item.url" [wImg]="item.width" [hImg]="item.height"></trending-card>
  }
  }
</div>

<div class="grid gap-4">
  @for (item of cardsrc(); track $index) {
  @if ($index % 4 == 2) {
  <trending-card [srcImg]="item.url" [wImg]="item.width" [hImg]="item.height"></trending-card>
  }
  }
</div>

<div class="grid gap-4">
  @for (item of cardsrc(); track $index) {
  @if ($index % 4 == 3) {
  <trending-card [srcImg]="item.url" [wImg]="item.width" [hImg]="item.height"></trending-card>
  }
  }
</div>
